.body {
    margin: 0px;
}

#googleimg {
    display: block;
    margin: auto;
    height: 92px;
    padding-top: 150px;
    padding-bottom: 35px;
}

.searchbar {
    display: block;
    margin: auto;
    width: 580px;
    height: 50px;
    padding-top: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228, 226, 226);
    border-color: rgb(228, 226, 226);
    border-width: 1px;
}

.logos {
    width: 100vw;
    height: 90vh;
}

.header {
    width: 100vw;
    height: 5vh;
}


h1 {
    color: black;
    font-size: 13px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
    display: inline;
    padding-left: 15px;
}

.account_link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.labels-top-right {
    display: inline-block;
    float: right;
    padding-right: 17px;
    padding-top: 10px;
}

.labels-top-left {
    display: inline-block;
    float: left;
    padding-top: 10px;
}

h2 {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.75;
    display: inline;
    padding-left: 17px;
}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.labels-bottom-right {
    display: inline-block;
    float: right;
    padding-right: 17px;
}

.labels-bottom-left {
    display: inline-block;
    float: left;
}

.footer-block {
    background-color: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    height: 5vh;
    width: 100vw;
}
